# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3b145713f930e21c352eecab28b36e965554271e6650198223161ae4b27ba8b7dbae022c385008bb054c49c2106d820685d57221d41628540bab5a4041a5274f

test:
  secret_key_base: 43765388c4155c609d1238c50d3e6f6c8df314c2ef2aace7038f70f1a42786952d6c54e6af5d197d1c7cc4aec8d6aa7b5c5599cf3c25c87ae7c8f5e44c794766

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
